<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amaco">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoamaco"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoamaco"
        android:supportsRtl="true"
        android:theme="@style/Theme.KAEWATMS"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.amaco.Users.Staff.ProjectManager.AllEvents"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.FeedbackSupplier"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.ProjectManager.Eventscreate"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.SearchItem"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Customers.Search"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Feedback"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.About"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Help_act"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.FineHistory"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.ActionFine"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.NewFines"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Customers.FineDetails"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Customers.MyFines"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Supervisor.BookingFines"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Store_man.ReturnedItems"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Store_man.ConfirmedReturns"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Store_man.PendingConfirmReturn"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.ReturningItems"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.MyReturns"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.ItemsToReturn"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Supervisor.ReturnItems"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Supervisor.Returned"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Supervisor.ShippingBack"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Supervisor.PendingReturn"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Store_man.AddStock"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Store_man.StoreItems"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.Issued"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.AssgnDetails"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.Mydeliveries"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Driver.Assignment"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.Delivered"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.Shipping"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.AssignDrivers"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.Drivers"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Shipping.PendingShipping"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.Rejected"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.Approved"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Items"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Finance.NewBookings"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Staff.Dashboard"
            android:theme="@style/Theme.KAEWATMS.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".Users.Staff.EmpDashboardActivity" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/title_activity_emp_dashboard" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".Users.Staff.EmpDashboard" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/title_activity_emp_dashboard" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".Users.Staff.Staff_Dashboard" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_staff_dashboard" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".Users.Staff.StaffDashboard" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_staff_dashboard" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".Users.Staff.DashboardStaff" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_dashboard_staff" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".Users.Staff.StaffDashboardActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_staff_dashboard" -->
        <!-- android:theme="@style/Theme.KAEWATMS.NoActionBar" /> -->
        <activity
            android:name="com.example.amaco.Users.Customers.BookingItems"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Customers.EnterShipping"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Users.Customers.CheckOut"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.Register"
            android:exported="false" />
        <activity
            android:name="com.example.amaco.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>